.header1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.header2{
    display: flex;
    font-size: 15px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 35px;
    border-bottom-width:solid 5px ;
    border-color:  black;

    
}

header a{
    
    color: white;
    text-decoration: none;
}

.botao{
    background-color: orangered;
    color: white;
    border-bottom: darkgrey;
    
}

header input{
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    
}

header{
    border-bottom: solid grey;
    border-width: 1px;
    font-weight: bold;
    background-color: rgb(68, 63, 63);
    
    
}

.s1 {
    width: 1349px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background:  url(../AT-webdesign/imgs/Design_sem_nome__10_.png);
    background-size: cover;
    background-blend-mode: screen;
    background-attachment: fixed;
}

.s1 h1{
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: 900;
    padding: 15px 20px 10px 20px;
    text-transform: uppercase;
}


.branco{
    background-color: white;
    width: 800px;
    height: 500px;
}
main{
    display: flex;
    flex-direction: column;
    background-color: orangered;
    
}

.s2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.877);
}

.s2 h1{
    display: flex;
    align-items: center;
    
    font-weight: 900;
    padding: 15px 20px 10px 20px;
    text-transform: uppercase;
}

.s2 p{

    padding: 15px 20px 10px 20px;
}

.NT{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    padding: 15px 20px 10px 20px;
    text-transform: uppercase;
   
    
}



.img1{
    background-image: url(../AT-webdesign/imgs/cachorro-policia-civil-970x550.jpg);
    background-size: cover;
    
}
.img2{
    background-image: url(../AT-webdesign/imgs/cachorro-na-lama.jpg);
    background-size: cover;
   
}
.img3{
    background-image: url(../AT-webdesign/imgs/vecteezy_silver-tabby-cat-sitting-on-green-background_2098203.jpg);
    background-size: cover;
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 63, 63);
    color:white;
    height: 260px;
    
}

FOOTER FORM{    
    display: flex  ;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   margin: 100px;
}

footer p{
    font-size: 15px;
}

.icone1{
    background-image: url(../AT-webdesign/imgs/vecteezy_location-icon-gps-pointer-icon-map-locator-sign-pin_19986394_384.png);
    background-size: cover;
}

.icone2{
    background-image: url(../AT-webdesign/imgs/vecteezy_plus-icon-clip-art_22188092_591.png);
    background-size: cover;
}

.icone3{
    background-image: url(../AT-webdesign/imgs/vecteezy_water-drop_1196097.png);
    background-size: cover;
}
